In [138]:
def is_symmetrical(a):
    str1=str(a)
    print(str1[::-1])
    
        

a=is_symmetrical(7227)
print(a)
b=is_symmetrical(12567)
print(b)
c=is_symmetrical(44444444)
print(c)
d=is_symmetrical(9939)
print(d)
e=is_symmetrical(1112111)
print(e)

7227
None
76521
None
44444444
None
9399
None
1112111
None

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [48]:
class Multiply:
    def __init__(self,a):
        self.a=a.split(',')
    def function(self):
        try:
            mul=1
            for i in range(len(self.a)):
                mul*=int(self.a[i])
            return mul
            
                
        except Exception as p:
            print(p)
    def __str__(self):
        return 'not return any values'
        
    

object1=Multiply("2, 3")
print(object1)
print(object1.function())
object2=Multiply("1, 2, 3, 4") 
print(object2.function())
object3=Multiply("54, 75, 453, 0") 
print(object3.function())
object5=Multiply("10, -2")
print(object5.function())

not return any values
6
24
0
-20

Question 3
Create a function that squares every digit of a number.
Examples

In [75]:
def square_digits(a):
    lst=[]
    for i in str(a):
        lst.append(int(i)**2)
    print(*lst,sep='')
    
    
        

a=square_digits(9119)
b=square_digits(2483)
c=square_digits(3212)

811181
416649
9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.

In [82]:
def setify(a):
    s=set()
    for i in sorted(a):
        s.add(i)
    print(list(s))
        

setify([1, 3, 3, 5, 5])
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.

In [102]:
def mean(a):
    sum1=0
    count=0
    for i in str(a):
        count+=1
        sum1+=int(i)
    return sum1//count
    
        
a=mean(42)
print(a)
b=mean(12345)
print(b)
c=mean(666)
print(c)

3
3
6